<ItemList Items="@Items">
    <Header>
        <h1>@Title</h1>
    </Header>
    <RowTemplate Context="dieu">
        <DieuItem Dieu="@dieu"
            ButtonClass="@ButtonClass"
            ButtonTitle="@ButtonTitle"
            Selected="@Selected" />
    </RowTemplate>
</ItemList>


