<div class="row">
    <div class="col">
        @Dieu.Name
    </div>
    <div class="col text-right">
        @($"{Dieu.Price:0.00}")
    </div>
    <div class="col"></div>
    <div class="col">
        <img src="@LoaisanphamImage(Dieu.Loaisanpham)"
        alt="@Dieu.Loaisanpham" />
    </div>
    <div class="col">
        <button class="@ButtonClass"
            @onclick="@(() => Selected.InvokeAsync(Dieu))">
            @ButtonTitle
        </button>
    </div>
</div>

