@page "/dathang"

@using HatDieuGiaLai.Shared
@inject IMenuService MenuService
@inject IOrderService orderService

@if (State.Menu.Dieus.Any()) {
    <!-- Menu -->
<DieuList Title="Chọn sản phẩm"
    Items="@State.Menu.Dieus"
    ButtonTitle="Thêm"
    ButtonClass="btn btn-success pl-4 pr-4"
    Selected="@AddToBasket" />
<!-- End menu -->
<!-- Shopping Basket -->
<ShoppingBasket Orders="@State.Basket.Orders"
    GetDieuFromId="@State.Menu.GetDieu"
    Selected="@RemoveFromBasket" />

<!-- End shopping basket -->
<!-- Customer entry -->
<CustomerEntry Title="Nhập đầy đủ thông tin"
    @bind-Customer="@State.Basket.Customer"
    ButtonTitle="Thanh toán"
    ButtonClass="mx-auto w-25 btn btn-success"
    ValidSubmit="PlaceOrder" />
<!-- End customer entry -->

@*@State.ToJson()*@
}
else {
    <div class="mx-auto text-center mb-3 mt-3">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code {
    private State State { get; } = new State();

    protected override async Task OnInitializedAsync() {
        Menu menu = await MenuService.GetMenu();
        foreach (Dieu dieu in menu.Dieus) {
            State.Menu.Add(dieu);
        }
    }
    private void AddToBasket(Dieu dieu)
        => State.Basket.Add(dieu.Id);

    private void RemoveFromBasket(int pos)
        => State.Basket.RemoveAt(pos);
    private async Task PlaceOrder() {
        await orderService.PlaceOrder(State.Basket);
    }
}
